<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
          <div class="col-md-2"><%= form.label :first_name %></div>
          <div class="col-md-6"><%= form.text_field :first_name, class: "form-control" %></div>
  </div><br>

  <div class="row">
          <div class="col-md-2"><%= form.label :last_name %></div>
          <div class="col-md-6"><%= form.text_field :last_name, class: "form-control" %></div>
  </div><br>

  <div class="row">
          <div class="col-md-2"><%= form.label :email %></div>
          <div class="col-md-6"><%= form.text_field :email, class: "form-control" %></div>
  </div><br>

  <div class="row">
          <div class="col-md-2"><%= form.label :password %></div>
          <div class="col-md-6"><%= form.password_field :password, class: "form-control" %></div>
  </div><br>

  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
